bin/
doc/
etc/
lib/
libexec/
mingw/
mingw64/
patches/
sbin/
share/
ssl/
var/

local/

gnutls-3.3.13/
gnutls-3.2.20/
expat-2.1.0/
openssl-1.0.1m/
storage_home/
storage_installation/
unbound-1.5.3/
unbound-1.5.3_win/
WS_Programming_msys/
*.tar.*
